<div class="table-responsive-sm">
  <table class="table">

    <tr class="header-scoreboard">
      <td></td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>points</td>
    </tr>


    <tr class="content-scoreboard" *ngIf="match.player1">
      <td><img src="assets/img/tennisball.png" [hidden]="!match.player1.serves">{{match.player1.name}}</td>
      <td>{{match.player1.scorePlayer?.numberSetWonByPlayer}}</td>
      <td>{{match.player1.scorePlayer?.numberGamesWonByPlayerBySet[0]?.games}}</td>
      <td>{{match.player1.scorePlayer?.numberGamesWonByPlayerBySet[1]?.games}}</td>
      <td>{{match.player1.scorePlayer?.numberGamesWonByPlayerBySet[2]?.games}}</td>
      <td>{{match.player1.scorePlayer?.numberGamesWonByPlayerBySet[3]?.games}}</td>
      <td>{{match.player1.scorePlayer?.numberGamesWonByPlayerBySet[4]?.games}}</td>
      <td>{{match.player1.scorePlayer?.points}}</td>
    </tr>
    <tr class="content-scoreboard" *ngIf="match.player2">
      <td><img src="assets/img/tennisball.png" [hidden]="!match.player2.serves">{{match.player2.name}}</td>
      <td>{{match.player2.scorePlayer?.numberSetWonByPlayer}}</td>
      <td>{{match.player2.scorePlayer?.numberGamesWonByPlayerBySet[0]?.games}}</td>
      <td>{{match.player2.scorePlayer?.numberGamesWonByPlayerBySet[1]?.games}}</td>
      <td>{{match.player2.scorePlayer?.numberGamesWonByPlayerBySet[2]?.games}}</td>
      <td>{{match.player2.scorePlayer?.numberGamesWonByPlayerBySet[3]?.games}}</td>
      <td>{{match.player2.scorePlayer?.numberGamesWonByPlayerBySet[4]?.games}}</td>
      <td>{{match.player2.scorePlayer?.points}}</td>
    </tr>
  </table>
</div>
